.btn{
  cursor: pointer;
  outline: none;
  font-family: "e-Ukraine Head", sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #FF3601;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 251px;
  max-height: 68px;

  padding: 19px 15px 18px;

  border: 2px solid #FF3701;
  border-radius: 5px;

  @media(max-width: 992px){
    font-size: 20px;
    line-height: 28px;
    max-height: 58px;
  }
  &--about{
    min-width: 251px;
  }
}