.container{
  width: 100%;

  max-width: 1728px;

  margin: 0 auto;

  padding: 0 60px;

  @media(max-width: 768px){
    padding: 0 15px;
  }
  //@media(min-width: 1200px){
  //  width: calc(100% - 70px);
  //}
}
