.lang{
  &__button{
    background: transparent;
    position: relative;
    outline: none;
    cursor: pointer;
    border: none;
  }
  &__list{
    list-style: none;
    position: absolute;
    top: 25px;
    left: 0;
  }
  &__item{

  }
  &__link{

  }
  &__icon{

  }
  &--header{
    margin-right:  56px;
    @media(max-width: 1200px){
      margin-right: 25px;
    }
    @media(max-width: 1050px){
      margin-right: 0;
      margin-top: auto;
      margin-bottom: 40px;
    }
  }
  &--fatal{
    margin-right: 50px;
  }
}