.social{
  &__list{
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 14px;

    &--about{
      margin-top: 106px;
      @media(max-width: 768px){
        margin-top: 60px;
      }
    }
    &--footer{
      margin-top: 44px;
    }
    &--contact{
      margin-top: 25px;
    }
  }
  &__item{

  }
  &__link{
    text-decoration: none;
  }
  &__icon{

    &--about{
      color: #1B2938;
    }
    &--footer{
    color: #FFFFFF;
    }
  }
}